.dashBoardHeight{
    height: 100vh;
    background: #dadadb;
}
.welcome-back{
    height: 250px;
}
.welcomeTop{
    background: #556ee6;
    opacity: .8;
}
.proPicofDshB{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: -20%;
}
.fa-copy{
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
}
.orderCount{
    height: 70px;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 11px 6px 18px -2px rgba(171,171,171,1);
-moz-box-shadow: 11px 6px 18px -2px rgba(171,171,171,1);
box-shadow: 11px 6px 18px -2px rgba(171,171,171,1);
}
.dasBody{
    -webkit-box-shadow: 11px 6px 18px -2px rgba(171,171,171,1);
-moz-box-shadow: 11px 6px 18px -2px rgba(171,171,171,1);
box-shadow: 11px 6px 18px -2px rgba(171,171,171,1);
}
.pieChart{
    height: 200px;
    width: 330px;
    position: relative;
}
.recharts-surface{
    position: absolute;
}